@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600&family=Lora:ital,wght@0,400;0,500;1,400&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Lora", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Cormorant Garamond", serif;
  
  --color-brand-primary: #4A5D4E;
  --color-brand-secondary: #E5E1D3;
  --color-brand-bg: #FDFCF5;
  --color-brand-text: #6C757D;
}

@layer base {
  body {
    @apply bg-brand-bg text-brand-text font-sans antialiased;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-display tracking-tight text-brand-primary;
  }
}
